asgiref          
beautifulsoup4    
Django            
django-bootstrap4 
pip              
python-decouple   
setuptools        
soupsieve         
sqlparse        
tzdata            
wheel             